:root {
  --font-default: "Open Sans", sans-serif;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Work Sans", sans-serif;
  --color-default: #364d59;
  --color-primary: #e20315;
  --color-secondary: #52565e;
  --color-standard: #fff;
}

body {
  font-family: var(--font-default);
  color: var(--color-default);
  overflow-x: hidden;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

li, ol, ul {
  list-style: none;
}

a:hover {
  color: #e20315;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
}

section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f5f6f7;
}

.section-header {
  padding-bottom: 70px;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  color: var(--color-secondary);
}

.section-header h2:before,
.section-header h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--color-primary);
  display: inline-block;
}

.section-header h2:before {
  margin: 0 15px 10px 0;
}

.section-header h2:after {
  margin: 0 0 10px 15px;
}

.section-header p {
  margin: 0 auto 0 auto;
}

.breadcrumbs {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('https://ik.imagekit.io/reko7evs1/mast-head.webp?updatedAt=1685563647945');
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('/img/mast-head.webp'); */
  padding: 140px 0 60px 0;
  min-height: 30vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.breadcrumbs h2 {
  font-size: 56px;
  font-weight: 500;
  color: var(--color-standard);
  font-family: var(--font-secondary);
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
}

.breadcrumbs ol a {
  color: var(--color-standard);
  transition: 0.3s;
}

.breadcrumbs ol a:hover {
  text-decoration: underline;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: var(--color-standard);
  content: "/";
}

/* NAV */
.logo img {
  max-height: 40px;
}

.nav-link {
  color: var(--color-standard);
  font-size: 15px;
}

 .navbar li {
  position: relative;
}

.navbar a:focus {
  position: relative;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: var(--color-primary);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar li:hover>a:before{
  visibility: visible;
  width: 100%;
} 

.navbar a:hover, .navbar li:hover>a {
  color: var(--color-standard);
}

/* SERVICES */
.service-livi {
  padding: 40px;
  background: var(--color-standard);
  height: 100%;
}

.service-livi .icon {
  width: 50px;
  height: 50px;
  position: relative;
  margin-bottom: 50px;
}

.service-livi .icon img {
  z-index: 2;
  position: relative;
  width: 40px;
}

.service-livi h3 {
  color: var(--color-default);
  font-weight: 700;
  margin: 0 0 20px 0;
  padding-bottom: 8px;
  font-size: 22px;
  position: relative;
  display: inline-block;
  border-bottom: 4px solid #e5e5e6;
  transition: 0.3s;
}

.service-livi p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.readmore {
  margin-top: 15px;
  display: inline-block;
  color: var(--color-primary);
}

.service-livi:hover h3 {
  border-color: var(--color-primary);
}

/* WORKS */
.projects .project-content {
  position: relative;
  overflow: hidden;
}

.projects .project-content img {
  transition: 0.3s;
}

.projects .project-content .project-info {
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
}

.project-info p {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  color: var(--color-standard);
}

.zoom {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  color: var(--color-standard);
  transition: 0.3s;
}

.zoom:hover {
  color: var(--color-primary);
}

.projects .project-content:hover .project-info {
  opacity: 1;
}

.projects .project-content:hover img {
  transform: scale(1.1);
}

/* SERVICES */
.img-bg {
  background-size: cover;
  background-position: center center;
  min-height: 400px;
}

.services h3 {
  font-size: 28px;
  color: var(--color-secondary);
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.services .icon {
  margin-top: 30px;
}

.services .icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  margin-right: 25px;
  font-size: 28px;
  width: 56px;
  height: 56px;
  border-radius: 4px;
  line-height: 0;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
  background-color: var(--color-standard);
  transition: 0.3s;
}

.services .icon:hover i {
  background-color: var(--color-primary);
  color: var(--color-standard);
}

.services .icon p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services-cards h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-secondary);
}

.services-cards p {
  font-size: 14px;
}

.services-cards ul li {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-top: 10px;
}

.services-cards ul li i {
  font-size: 16px;
  color: var(--color-primary);
  margin-right: 6px;
}


/* ABOUT */
.about h2 {
  font-size: 48px;
  font-weight: 600;
  font-family: var(--font-secondary);
  margin: 30px 0;
}

.about .our-story {
  padding: 40px;
  background-color: #f5f6f7;
}

@media (min-width: 991px) {
  .about .our-story {
    padding-right: 35%;
  }
}

.about ul {
  padding: 0;
  font-size: 15px;
}

.about ul li {
  display: flex;
  align-items: center;
}

.about ul i {
  color: var(--color-primary);
}

.about .watch-video i {
  transition: 0.3s;
  color: var(--color-primary);
}

.about .watch-video a {
  color: var(--color-secondary);
  transition: 0.3s;
}

.about .watch-video:hover a {
  color: var(--color-primary);
}

@media (min-width: 992px) {
  .about .about-img {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* CONTACT */
.contact .info-item {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  padding: 20px 0 30px 0;
}

.contact .info-item i {
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  color: var(--color-primary);
  border-radius: 50%;
  border: 2px dotted #f70000;
}

.contact .info-item h3 {
  color: #6c757d;
}

.contact .info-item p, .contact .info-item a {
  color: #364d59;
}

.text-contact:hover {
  color: var(--color-primary) !important;
}

/* BANNER */
.livi {
  overflow-x: hidden;
  padding: 0;
}

.masthead {
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),url(/img/mast-head.webp); */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),url('https://ik.imagekit.io/reko7evs1/mast-head.webp?updatedAt=1685563647945');
  background-size: cover;
  background-repeat: no-repeat;
}

.masthead h2 {
  color: var(--color-standard);
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 56px;
  font-weight: 700;
  position: relative;
}

.masthead h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 4px;
  background: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.masthead p {
  color: var(--color-standard);
  font-size: 26px;
}

.btn-masthead {
  font-family: var(--font-primary);
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 50px;
  transition: 0.5s;
  color: var(--color-standard);
  border: 2px solid var(--color-primary);
}

.btn-masthead:hover {
  background: var(--color-primary);
  color: var(--color-standard);
}

/* FOOTER */
.footer {
  color: var(--color-standard);
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("/img/mast-head.webp") top center no-repeat; */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/reko7evs1/mast-head.webp?updatedAt=1685563647945") top center no-repeat;
  background-size: cover;
  font-size: 14px;
  position: relative;
}

.footer .footer-content .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: var(--font-primary);
  color: var(--color-standard);
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: var(--color-standard);
  line-height: 1;
  margin-right: 8px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.social-links a:hover {
  background: var(--color-primary);
  text-decoration: none;
}

.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.credits {
  font-size: 13px;
  color: var(--color-standard);
}

/* COOKIES */
.close {
  position: absolute;
  right: 32px;
  top: 12px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: var(--color-primary);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
